@using _932021.Gaisin.Roman.lab11
@inject ICalculatorDataService CalculatorDataService
@{
    var calculatorDataModel = CalculatorDataService.dataModel;
}

<h1>AccesServiceDirectly</h1>
<div>
    <b>
        Rand Value First: @calculatorDataModel.FirstValue<br>
        Rand Value Second: @calculatorDataModel.SecondValue<br>
    </b>

    <b>Add :</b><br>
    @calculatorDataModel.FirstValue + @calculatorDataModel.SecondValue = @calculatorDataModel.addition<br>

    <b>Sub :</b><br>
    @calculatorDataModel.FirstValue - @calculatorDataModel.SecondValue = @calculatorDataModel.subtraction<br>

    <b>Mult :</b><br>
    @calculatorDataModel.FirstValue * @calculatorDataModel.SecondValue = @calculatorDataModel.multiplication<br>

    <b>Div :</b><br>
    @calculatorDataModel.FirstValue / @calculatorDataModel.SecondValue = @calculatorDataModel.division<br>
</div>